header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:blueviolet;
    padding: 20px 30px;
    color:white;
    font-weight:900;
    font-size:2rem;
}

button{
    padding:10px;
    margin:5px;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.s1{
    display:flex;
    background:blueviolet;
    color:white;
    justify-content: space-around;
    align-items: center;
    font-size:3rem; 

}
.s1>div{
    flex-basis:50%;
    padding:30px;
}

.card{
    box-shadow:0px 0px 2px 2px black;
    padding:10px;
    text-align:center;
}
.card>p{
font-weight: 300;
color:grey;
}
.doctorparent{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    justify-content:center;
    margin:20px;
}
.doctorparent>div{
    flex-basis:30%;
}